@using TCSA.V2026.Data.DTOs

<MudCard Outlined="true" Elevation="25">
    <MudCardContent>
        <div class="d-flex flex-row flex-wrap">
            @foreach (var task in Tasks)
            {
                <MudAvatar>
                    <MudImage Src=@($"/img/icons/{@task.IconUrl}")></MudImage>
                </MudAvatar>
            }
        </div>
    </MudCardContent>
</MudCard>


@code {
    [Parameter] public List<RoadmapTask> Tasks { get; set; } = new List<RoadmapTask>();
}
