<MudDialog>
    <DialogContent>
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" />
        <div style="margin-top: 1rem;">Logging out and clearing session…</div>
    </DialogContent>
</MudDialog>